[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
shard_registry = "97Lqqtuu4bsZS6e8EacvasJe5heLbjs5pWUt1Ru83GLA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "echo 'no tests yet'"
